<section class="about">
    <div class="container">
        <div class="about__column">
            <div class="about__info">

                <app-title [inverse]="true">
                    Sobre nós
                </app-title>

                <p class="about__info__text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                    ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                    zzril delenit augue duis dolore te feugait nulla facilisi.diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                    ut aliquip ex ea commodo consequat.
                </p>
            </div>

            <div class="about__info">
                <app-title [inverse]="true">
                    Contatos:
                </app-title>

                <ul class="about__contact">
                    <li class="about__contact__item" *ngFor="let contact of contacts">
                        <a [attr.href]="contact.url ? contact.url : null" [attr.target]="contact.url && contact.url.indexOf('mailto') === -1 ? '_blank' : null" class="about__contact__item__link">
                            <span class="about__contact__item__icon">
															<i [ngClass]="getContactIcon(contact.icon)"></i>
														</span>

                            <span class="about__contact__item__text">
															{{ contact.label }}
														</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="about__column">
            <img class="about__logo" src="../../../../assets/images/big-logo.svg">
        </div>

        <img class="about__lines" src="../../../../assets/images/about_lines.svg">
    </div>
</section>