@import 'variables',
'functions',
'mixins';
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.mat-icon {
    color: $color-white;
    @include iconSize(32);
    &.color-primary {
        color: $color-primary;
    }
}